/* Customized style minute-tailored for you */

/* Container */

.container-fluid {
    height: 100vh; /* 100 */
    border: red dotted 5px; /* Rendue visible */
}

/* Chat */

#chat_container {
}

#chat_zone {
    height: 40%; /* 560px*/
    padding : 20px 20px;
    /* border: green dotted 5px; Rendue visible - marche pas car en conflit avec les reglages de bootstrap */
    overflow: auto; 
    word-wrap: break-word;
}

#submit_button {
    padding: 6px 12px;
}

/* Footer */

#footer_extra {
    font-size: 10px;
}