/* Customized style written exclusively for you */

/* Container */

body {
    margin: 0px; /* 8px par défaut, pourquoi ??*/
    background-color: #1D1F26; 
} 

.my_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; 
    /* ExtraPropsToRemoveLater */
    /* border: red dotted 5px;  */
    box-sizing: border-box;
    /* EndOfExtraPropsToRemoveLater */
}

/* Header */

header {
    /* height: 5%; */
    background-color:#1D1F26;
    text-align: center;
}

#brand {
    margin: 15px 0px;
    font-size: 20px;
    font-family: krungthep;
}

#brand a {
    color:#fff;
    text-decoration: none;
}

#brand-logo {
    font-size: 30px;
}

/* Footer */

footer {
    background-color:#1D1F26;
    text-align: center;
    color:#fff;
    font-family: krungthep;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer-notes {
    margin-bottom: 8px;
}

/* Chat */

#chat_window {
    background-color: #1C2E40;
    padding: 20px;
    height: 80vh ; 
    box-sizing: border-box;
}

#dialogue_container {
    /* margin: 25px ; */
    box-sizing: border-box;
    background-color:#1C2E40;
    height: 100%;
    /* Empêche dialogue_area (dont la taille est basée sur ce container) de s'étendre. */
}

#dialogue_area {
    background-color:#1D1F26;
    height: 80%;
    padding: 25px 30px;
    box-sizing: border-box;

    overflow: auto; 
    overflow-wrap: break-word;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    /* ExtraPropsToRemoveLater */
    /* border-color: yellow;
    border-width: 5px;
    border-style: dotted; */

    font-family: Verdana;
    font-size: 16px;
    color:#fff;
    /* EndOfExtraPropsToRemoveLater */
}

#input_container {
    height: 20%;
    /* ExtraPropsToRemoveLater */
    /* border: 5px green dotted; */
    /* EndOfExtraPropsToRemoveLater */
    box-sizing: border-box;
    display: flex;
}

#input_area {
    height: 100%;
    border: none;
    resize: none;
    /*display: inline-block; /*Pas la peine de préciser, c'est par défaut */
    /*float: left;*/
    background-color:#1D212A;
    flex-basis: 85%;
    font-family: Verdana;
    font-size: 16px;
    color:#fff;
    padding: 25px 30px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
}

#submit_button {
    /* all: unset; */
    /* border: 1px #fff solid; */
    /*-webkit-appearance: none;*/
    /* align-items: stretch; fait rien*/
    /*display: inline-bock;*/
    height: 100%;
    flex-basis: 15%;
    border: none; /* Sinon ce sont les bordures par défaut */
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: #182736;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    color:#fff;

}
