
/* Customized style written exclusively for you */

/* ############## Custom Fonts ############## */

@font-face {
    font-family: downloaded-krungthep;
    src: url("../fonts/krungthep.ttf") format('truetype'),
         url("../fonts/krungthep.svg") format('svg');
}

/* ############## Container ############## */

body {
    height: 100vh; 

    background-color: #1D1F26;

    border: red dotted 5px; /* A retirer */
    box-sizing: border-box;

    margin: 0px;
} 

.my_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

/* ############## Header ############## */

header {
    text-align: center;

    background-color:#1D1F26;
}

#brand {
    font-family: krungthep, downloaded-krungthep;
    font-size: 20px;

    margin: 15px 0px;
}

#brand a {
    color:#fff;
    text-decoration: none;
}

#brand-logo {
    font-size: 30px;
}

/* ############## Footer ############## */

footer {
    font-family: krungthep, downloaded-krungthep;
    font-size: 12px;
    text-align: center;

    color:#fff;
    background-color:#1D1F26;

    padding-top: 20px;
    padding-bottom: 30px;
}

#footer-notes {
    margin-bottom: 8px;
}

/* ############## Chat ############## */

#chat_window {
    height: 80%; /* 80vh ? */

    background-color: #1C2E40;

    padding: 20px;
    box-sizing: border-box;
}

/* ############## Chat (Dialogue) ############## */

#dialogue_container {
    height: 100%;
    
    background-color:#1C2E40;
}

#dialogue_area {
    height: 80%;
    overflow: auto; 
    overflow-wrap: break-word;

    color:#fff;
    background-color:#1D1F26;

    padding: 25px 30px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.message_container {
    width: max-content; /* fit-content, max-content, mox-content */
    max-width: 100%;

    margin: 10px 0; 
}

.message {
    /* overflow-wrap: break-word; */

    font-size: 16px;
    text-align: justify;

    background-color: #1C2E40;

    padding: 15px 30px;
    box-sizing: border-box;
}

.user {
    font-family: Verdana;
    border-radius: 20px 20px 20px 0px;
}

.user + .profile_icon {
    text-align: left;
    margin: 0 0 0 -10px;
}

.grandpy {
    font-family: krungthep, downloaded-krungthep;
    border-radius: 20px 20px 0px 20px;

}

.grandpy + .profile_icon {
    text-align: right;
    margin: 0 -10px 0 0;
}

.loading {
    color: #fff;
    margin: 10px 0;
}

.map {
    height:300px; /* arbitraire */
    width:100%;
}
/* ############## Chat (Input) ############## */

#input_container {
    display: flex;

    height: 20%;

    box-sizing: border-box;
}

#input_area {
    resize: none;

    flex-basis: 85%;

    height: 100%;

    font-family: Verdana; /* A remplacer */
    font-size: 16px; /* A remplacer */

    color:#fff; /* A remplacer */
    background-color:#1D212A;

    padding: 25px 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px 0px 0px 10px;
    margin: 0px;

    transition: border, box-shadow 1500ms ease-out;

    z-index: 2;
}

#input_area:focus {
    outline: none;

    border: 1px solid #51CBEE;
    box-shadow: 0px 0 5px #51CBEE;
    -webkit-box-shadow: 0px 0 5px #51CBEE; /* Visible sur iOS ?*/
}

#submit_button {
    -webkit-appearance: none;

    flex-basis: 15%; 

    height: 100%;

    font-size: 16px;

    color:#fff;
    background-color: #182736;

    padding: 6px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px 0px 10px 0px;
    margin: 0px;
}