<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/css/bootstrap.css" />
        <title> Have you ever talked to GrandPy Bot? </title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
            </header> 
            <div class="row justify-content-center bg-white mt-3">
                <div style="height:300px; width:100%; border: 1px solid" class="col-8 border border-secondary rounded border-bottom-0" id="map">
                </div>
            </div>
        </div>
        
        <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
        <script>
            var map;
            var body = document.querySelector("body");
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                center: {'lat': 48.8747265, 'lng': 2.3505517},
                zoom: 15
              });
              var marker = new google.maps.Marker({position: {'lat': 48.8747265, 'lng': 2.3505517}, map: map});
            }
            // var script_tag = body.querySelector("script:first-child");
            // script_tag.addEventListener("load", function(){
            // console.log("done");});
        </script>
        <script src="static/js/jquery-3.4.0.js"></script>
        
       
    </body>
</html>