<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/css/bootstrap.css" /><!-- utiliser {{ url_for('static', filename='bootstrap.css') }} --> 
        <link rel="stylesheet" href="static/css/loading.css"/>
        <title> Have you ever talked to GrandPy Bot? </title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div class="row justify-content-center navbar navbar-dark bg-dark">
                    <div class="navbar-brand" id="site_brand"><a href="/">GrandPy</a></div>
                </div>
            </header> 
            <div class="row justify-content-center bg-white mt-3">
                <div style="" class="col-8 border border-secondary rounded border-bottom-0" id="chat_container">
                    <div id="chat_zone" style="height: 560px; margin : 15px 0px 0px 10px; overflow: auto; word-wrap: break-word;">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center bg-white mb-3">
                <form class="col-8" method="post" action="" novalidate>
                    <div class="row">
                        {{ form.hidden_tag() }}
                        {{ form.textarea(class="col-9 border border-secondary form-control", id="chat_input") }}
                        {{ form.submit_button(class="col-3 btn btn-outline-secondary border border-secondary", id="submit_button", style="padding: 6px -12px") }}
                    </div>
                </form>   
            </div>
            <footer>
                <div class="row bg-dark justify-content-center p-1">
                    <a href="https://github.com/Ludophilia/P7">
                        <image src="static/img/GitHub-Mark-Light-32px.png" alt="Gitkkun (Octocat)" width="25" height="25"/>
                    </a>
                </div>
                <div class="row bg-dark justify-content-center text-white" style="font-size: 10px;" id="special">
                    Jeffrey G. pour OC - 2019
                </div>
                <div class="row bg-dark" style="height: 250px;">
                </div>
            </footer>
        </div>
        <script src="static/js/jquery-3.4.0.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}" async defer></script>
        <script src="static/js/script.js"></script> 
    </body>
</html>