<!-- Obj : créer le design du site web demandé sans javascript -->
<!-- {{ url_for('static', filename='style.css') }} --> 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" />
        <!-- <link rel="stylesheet" href="static/style.css" />  -->
        <title> Have you ever talked to GrandPy Bot?</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div class="row justify-content-center navbar navbar-dark bg-dark">
                    <div class="navbar-brand">GrandPy</div>
                </div>
            </header> 
            <div class="row justify-content-center bg-white">
                <div style="height: 560px" class="col-8 border border-secondary rounded border-bottom-0 mt-3" id="chat_container">
                    <div id="chat_zone" style="margin : 15px -15px;"> <!-- dirtyfix : Dat 15px padding tho'-->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center bg-white mb-3">
                <form class="col-8" method="post" action="" novalidate>
                    <div class="row">
                        {{ form.hidden_tag() }}
                        {{ form.textarea(class="col-9 border border-secondary form-control", id="chat_input") }}
                        {{ form.submit_button(class="col-3 btn btn-outline-secondary border border-secondary", id="submit_button", style="padding: 6px -12px") }}
                    </div>
                </form>   
            </div>
            <footer>
                <div class="row bg-dark justify-content-center p-1">
                    <a href="https://github.com/Ludophilia/P7">
                        <image src="static/img/GitHub-Mark-Light-32px.png" alt="Gitkkun (Octocat)" width="25" height="25"/>
                    </a>
                </div>
                <div class="row bg-dark justify-content-center text-white" style="font-size: 10px;" id="special">
                    Jeffrey G. pour OC - 2019
                </div>
                <div class="row bg-dark" style="height: 250px;">
                </div>
            </footer>
        </div>
    </body>

</html>