<!-- Obj : créer une page web simple qui contient un simple formulaire-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% if titre %}
        <title>{{ titre }}</title>
        {% else %}
        <title>Page de test</title>
        {% endif %}
    </head>
    <body>

        <form method="post" action="" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.textarea.label }}
                {{ form.textarea(cols=35, rows=2, autofocus=True) }}
                {{ form.submit_button() }}
            </p>

        </form>
    </body>

</html>